[Service]
Type=simple
TimeoutSec=20
User=bot
Group=bot
Restart=always
RestartSec=120
ExecStart=/path/to/local/python3  /path/to/bot/billfred.py 

Environment="LANG=en_US.UTF-8"
StandardOutput=journal

[Unit]
Requires=network.target
After=network.target
Description=Jabber bot

[Install]
WantedBy=multi-user.target
